.customer-form {
    .input-border {
        /* border-radius: 50%; */

        border: none !important;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    .stepper {
        margin: auto;
        margin-bottom: 30px;
        display: flex;
        max-width: 800px;
        gap: 30px;
        text-align: center;

        .step {
            flex: 1;

            &.step-selected {
                border-bottom: 8px solid #56DDC5;
            }
        }

    }

    .form {
        .form-container {
            border: 0px solid grey;
            margin: auto;
            padding: 30px;
            padding-bottom: 10px;
            max-width: 1000px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;

            .form-body {
                margin: auto;
                max-width: 600px;

                .row {
                    gap: 15px;
                    margin-bottom: 20px;
                }
            }



        }

        button.next {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            background-color: #56DDC5;
            border: none;
            margin: auto;
            width: 100%;
            max-width: 600px;
            border-radius: 20px;
        }
    }


}